<!DOCTYPE html>
<html lang="en">

<head>
    <title>Grids</title>
    <!-- Meta Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- //Meta Tags -->

    <!-- Style-sheets -->
    <!-- Bootstrap Css -->
    <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Bootstrap Css -->
    <!-- Common Css -->
    <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--// Common Css -->
    <!-- Nav Css -->
    <link rel="stylesheet" href="static/css/style4.css">
    <!--// Nav Css -->
    <!-- Fontawesome Css -->
    <link href="static/css/fontawesome-all.css" rel="stylesheet">
    <!--// Fontawesome Css -->
    <!--// Style-sheets -->

    <!--web-fonts-->
    <link href="http://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!--//web-fonts-->

    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>

    <link rel="stylesheet" href="static/css/grids.css">
    <script src="static/js/girds.js"></script>
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h1>
                    <a href="{{url_for('index')}}">Intel-fpga</a>
                </h1>
                <span>Intel</span>
            </div>
            <div class="profile-bg"></div>
            <ul class="list-unstyled components">
                <li>
                    <a href="{{url_for('index')}}">
                        <i class="fas fa-th-large"></i>
                        Detection
                    </a>
                </li>
                <li>
                    <a href="{{url_for('charts')}}">
                        <i class="fas fa-chart-pie"></i>
                        Charts
                    </a>
                </li>
                <li class="active">
                    <a href="{{url_for('grids')}}">
                        <i class="fas fa-th"></i>
                        Grid Layouts
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content Holder -->
        <div id="content">
            <!-- top-bar -->
            <nav class="navbar navbar-default mb-xl-5 mb-4" style="margin-bottom: 1.5rem !important;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                    <ul class="top-icons-agileits-w3layouts float-right">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-user"></i>
                            </a>
                            <div class="dropdown-menu drop-3">
                                <div class="profile d-flex mr-o">
                                    <div class="profile-r align-self-center">
                                        <h3 class="sub-title-w3-agileits">{{ current_user.name }}</h3>
                                    </div>
                                </div>
                                <a href="#" class="dropdown-item mt-3">
                                    <h4>
                                        <i class="far fa-user mr-3"></i>My Profile
                                    </h4>
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--// top-bar -->

            <!-- main-heading -->
            <h2 class="main-title-w3layouts mb-2 text-center">graph</h2>
            <!--// main-heading -->


            <!-- Grids Content -->

            <div class="outer-w3-agile mt-3 display-block" id="graphContainer">
                <div id="selectBar">
                    <ul id="selectUL">
                        <!-- <li class="selectList" onclick="selectListChg(this)" style="background-color: #ffffff;">
                            <div>
                                <span>rxwooo</span>
                            </div>
                        </li>
                        <li class="selectList" onclick="selectListChg(this)">
                            <div>
                                <span>rxwooo</span>
                            </div>
                        <li class="selectList" onclick="selectListChg(this)">
                            <div>
                                <span>rxwooo</span>
                            </div>
                        </li> -->
                    </ul>
                </div><!--
             --><div id="graph"></div>
            </div>

            <!--// Grids Content -->


            <!-- Copyright -->
            <div class="copyright-w3layouts py-xl-3 py-2 mt-xl-5 mt-4 text-center display-block"  style="margin-top: 1.5rem !important; ">
                <p style="color: black;">Copyright &copy; 2022.No Bug No Code -- rxwooo.</p>
            </div>
            <!--// Copyright -->
        </div>
    </div>


    <!-- Required common Js -->
    <script src='static/js/jquery-2.2.3.min.js'></script>
    <!-- //Required common Js -->

    <!-- Sidebar-nav Js -->
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
    <!--// Sidebar-nav Js -->

    <!-- dropdown nav -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //dropdown nav -->

    <!-- Js for bootstrap working-->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- //Js for bootstrap working -->

</body>

</html>